@pad-size: 200px;

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:(@pad-size * 2) + 10;
    button{
        width: @pad-size;
        height: @pad-size;
    }
}